# Supporters Page Tier Passwords
# These passwords determine which content tier a supporter can access.
# Tier 5 can access Tiers 1-5, Tier 4 can access Tiers 1-4, etc.

SUPPORTER_TIER1_PWD=tier1pass
SUPPORTER_TIER2_PWD=tier2pass
SUPPORTER_TIER3_PWD=tier3pass
SUPPORTER_TIER4_PWD=tier4pass
SUPPORTER_TIER5_PWD=tier5pass

# Supporters Auth Tier Passwords
NEXT_PUBLIC_TIER1_KEY=sakura20michi27
NEXT_PUBLIC_TIER2_KEY=dream20pipe21
NEXT_PUBLIC_TIER3_KEY=eikyo2026basue
NEXT_PUBLIC_TIER4_KEY=momoka2021
NEXT_PUBLIC_TIER5_KEY=20vintage27
